/*footer*/
footer{
   
    grid-area: footer;   
    background-image: linear-gradient(to top, $color-four, $color-one,$color-three );
    opacity: 0.9;
    width: auto;
   
}
   .text--footer{
        color: #ffffff;
        text-align: center;
        padding: 10px;
   }
   
   .img--footer{
    @include size (0,10px);
       height: 60px;
   }
   .contenedor--footer{
       display: flex;
       justify-content: space-between;
       @include proportions(100%,100%);
       align-items: center;
       overflow: hidden;
       margin-top: 10px;
   }
   